<template>
  <div id="app">
    
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo center">Vias de Recife</a>
      </div>
    </nav>

    <div class="container">
      <div class="row">
          <div class="col s11">
              <div class="input-field col s12">
                  <input type="text" id="pesquisa-avenidas" class="" v-model="avenidaBuscada">
                  <label for="pesquisa-avenidas">Pesquise por uma avenida </label>
              </div>
          </div>
          <div class="col s1" id="search-btn">
            <button v-on:click="listar(avenidaBuscada)" class="btn blue waves-effect waves-light">
              <i class="material-icons">search</i>
            </button>
          </div>
      </div>
      <div class="row">
          <table class="striped">
              <thead>
                  <tr>
                      <th>Nome</th>
                      <th>Extensão (km)</th>
                      <th>Possui ciclofaixa</th>
                      <th>Extensão da ciclofaixa (km)</th>
                  </tr>
              </thead>
              <tbody v-for="avenida of avenidas" :key="avenida.id">
                  <tr>
                      <td> {{avenida.nome_avenida}} </td>
                      <td> {{avenida.extensao_avenida}} </td>
                      <td v-if="avenida.possui_ciclofaixa">Sim</td>
                      <td v-else>Não</td>
                      <td> {{avenida.extensao_ciclofaixa}} </td>
                      <td>
                          <a v-on:click="excluir(avenida.id)" class="btn-flat waves-effect waves-red ">
                            <i class="material-icons">clear</i>
                          </a>
                      </td>
                  </tr>
              </tbody>
          </table>          
      </div>
    </div>

    <div id="tela-de-registro" class="modal">
      <div class="modal-content">
        <h4>Registrar</h4>
        <form @submit.prevent>
      
          <div class="input-field">
            <input id="nome-avenida" type="text" v-model="avenida.nome_avenida" />
            <label for="nome-avenida">Nome da Avenida</label>
          </div>

          <div class="input-field">
            <input id="extensao-avenida" min="0.1" type="number" step="any" v-model="avenida.extensao_avenida" />
            <label for="extensao-avenida">Extensão em km da avenida</label>
          </div>

          <label>Possui ciclofaixa</label>
          <div class="switch">
            <label>
            Off
              <input type="checkbox" v-model="avenida.possui_ciclofaixa">
              <span class="lever"></span>
            On
            </label>
          </div>

          <div class="input-field">
            <input id="extensao-ciclofaixa" min="0.1" type="number" step="any" v-bind:disabled="!avenida.possui_ciclofaixa" v-model="avenida.extensao_ciclofaixa"/>
            <label for="extensao-ciclofaixa">Extensão da ciclofaixa</label>
          </div>
        </form>

      </div>

      <div class="modal-footer">
        <a href="#!" v-on:click="registrar" class="modal-close waves-effect waves-green btn-flat">Registrar</a>
      </div>
    </div>   

    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red modal-trigger" href="#tela-de-registro">
        <i class="large material-icons">add</i>
      </a>
    </div>

  </div>
</template>

<script>
import Avenida from './services/avenida'
import M from "materialize-css"
import 'materialize-css/dist/css/materialize.min.css'
import 'material-design-icons/iconfont/material-icons.css'

export default {

  mounted(){
    M.AutoInit()

    this.listar()
  },

  data() {
    return {
      avenidas: [],
      avenidaBuscada: '',
      avenida: {
        nome_avenida: '',
        extensao_avenida: '',
        possui_ciclofaixa: false,
        extensao_ciclofaixa: ''
      }
    }
  },

  methods: {
    listar(nome) {
      Avenida.listar(nome)
        .then(avenidas => {
          this.avenidas = avenidas.data
        })
        .catch(erro => {
          console.log(erro)
        })
    },

    registrar() {
      const avenida = this.avenida
      avenida.extensao_avenida = Number(avenida.extensao_avenida)
      avenida.extensao_ciclofaixa = Number(avenida.extensao_ciclofaixa)

      Avenida.registrar(this.avenida)
        .then(() => {
          this.listar()
        })
        .catch(erro => {
          console.log(erro)
        })
    },

    excluir(id) {
      Avenida.excluir(id) 
        .then(() => {
          this.listar()
        })
        .catch(erro => {
          console.log(erro)
        })
    }
    
  }

}
</script>

<style>
#search-btn{
  padding-top: 1em;
}
</style>
